.users
  - @users.each do |u|
    - next if u == current_user
    .user
      %strong
        =u.first_name
      - if !current_user.confirm_friend(u.id)
        =link_to "Add Friend", friendships_path(:friend_id => u), :method => :post
      =link_to "Invite to Event", invite_path(:user_id => u.id), :method => :get