<% if Event.exists? %>
<table id="events">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Хто створив</th>
      <th>Учасники</th>
      <th>max Учасників</th>
      <th>Година</th>
      <th>Дата</th>
      <th>Тип події</th>
      <th colspan="7"></th>
    </tr>
  </thead>
   
    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
    <% end %>

  <tbody class="page">
    <%@events.each do |event| %>
      <%=render partial: 'event', locals: {event: event}%>
      <%@last_date = event.data%>
    <%end%>
  </tbody>
</table>

<div id="scroll" >
<%= paginate @events, :remote => true%>
</div>
</br>


<% end %>