.create-events {
	padding: 65px 0 0;
	color: #4f4f4f;

	h1 {
		font-size: 25px;
		line-height: 48px;
		margin: 0 0 0;
		font-weight: 800;
	}
}

.user-sidebar {
	background: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color: #4f4f4f;
	padding: 0;
	width: 360px;
	transition: opacity 0.4s;

	.user-backgr {
		margin: 0 0 -80px;
		position: relative;
		overflow: hidden;
		background: #000000;
		transition: opacity 0.4s;

		input[type="file"] {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
		img {
			transition: opacity 0.4s;
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.4) url(i-ph.png) no-repeat 8px 8px;
			background-size: 28px;
			opacity: 0;
			transition: opacity 0.4s;
		}
		&:hover {
			img {
				// opacity: 0.7;
			}
			&:after {
				opacity: 1;
			}
		}
	}

	.user-img {
		position: relative;
		transition: opacity 0.4s;

		a {
			display: inline-block;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			z-index: 5;
			border: 5px solid #FFFFFF;
			box-sizing: border-box;
			background: transparent;
			transition: opacity 0.4s;
		}
		a:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.4) url(i-settings.png) no-repeat center 10px;
			background-size: 28px;
			opacity: 0;
			transition: opacity 0.4s;
		}
		a:hover {
			background: #000000;
			img {
				// opacity: 0.8;
			}
			&:after {
				opacity: 1;
			}
		}
		img {
			border-radius: 50%;
			width: 139px;
			transition: opacity 0.4s;
		}
	}

	h3 {
		font-size: 24px;
		line-height: 30px;
		color: #4f4f4f;
		font-weight: 400;
		margin: 0;
	}

	h4 {
		font-size: 16px;
		line-height: 17px;
		color: #8fc731;
		font-weight: 400;
		margin: 0;
	}

	.user-links {
		text-align: left;
		padding: 43px 30px 45px;

		a {
			color: #4f4f4f;
			font-size: 16px;
			font-weight: 400;
		}

		a:hover {
			color: #000000;
		}

		p {
			margin: 0 0 7px;
			clear: both;
		}

		.user-links-couner {
			float: right;
			color: #8fc731;
			background: #F4F4F4;
			padding: 4px 0 0;
			text-align: center;
			width: 30px;
			height: 30px;
			box-sizing: border-box;
			border-radius: 50%;
			font-size: 12px;
			overflow: hidden;
		}
	}
}

.new-ev-form-wr {
	padding: 25px 0 10px 7px;

	h1 {
			padding: 0 0 20px;
	}

	input[type="text"], select, textarea {
		background-color: #F4F4F4;
		border: 1px solid #DEDEDE;
		border-radius: 4px;
		box-sizing: border-box;
		height: 41px;
		font-size: 16px;
		line-height: 16px;
		padding: 6px 22px 7px 16px;
		margin: 0 0 25px;
		box-shadow: none;
		outline: none;
	}

	input, select, textarea {
		width: auto;
	}

	input:focus, select:focus, textarea:focus {
		border-color: #999999;
	}

	label {
		padding: 0 0 4px;
	}

	textarea {
		width: 100%;
		height: 100px;
	}

	.btn-3 {
		float: none;
		border-radius: 30px;
		padding: 11px 49px 9px;
	}

	p {
		font-size: 14px;
		padding: 0 0 4px;
		margin: 0;
	}
}

.invite-fr {
	clear: left;
}

.upload-img {
	clear: both;
	img {
	margin: 0 0 30px;
		width: 100%
	}
}

.new_avatar {
	float: left;
	position: relative;
	position: relative;
	padding: 3px 0 0;
	cursor: pointer;

	.btn-4 {
		position: relative;
		z-index: 1;
		margin: 0;
		color: #4d4d4d;
		font-size: 14px;
		height: auto;
		line-height: 25px;
	}

	input {
		opacity: 0;
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		width: 196px;
		height: 37px;
		margin: 0;
		cursor: pointer;
	}
}

.new-ev-form {
	background: #FFFFFF;
	color: #4f4f4f;
	padding: 12px 45px 50px 35px;
	line-height: 30px;
}

#event_category_id {
	float: right;
	width: 155px;
}

#event_event_type {
	float: right;
	margin: 0;
}

.field {
	clear: both;
}

.field-category {
	float: right;

	label {
		font-weight: 800;
	}
}

.field-name {
	input {
		width: 71%;
	}
}

.field-address {
	input {
		width: 100%;
	}
}

.field-data {
	float: left;
}

.field-start {
	// width: 50%;
	float: left;
	margin: 0 0 0 42px;
}

.field-end {
	float: right;
}

.field-count {
	float: right;

	label {
		font-weight: 800;
	}

	select {
		width: 250px;
		margin: 0;
	}
}

#error_explanation {
	h2 {
		color: #990000;
		font-weight: 400;
		margin: 0;
	}
}

.invite-fr-links {
	background: #F4F4F4;
	border-radius: 30px;
	float: left;
	overflow: hidden;
	line-height: 25px;
	margin: 12px 0 0;

	a {
		color: #8e8e8e;
		width: 185px;
		text-align: center;
		display: inline-block;
		font-size: 14px;
	}

	a:hover {
		opacity: 0.8;
		color: #000000;
	}

	a.active {
		background: #95E459;
		color: #6d893d;
	}
}

.invite-fr-list {
	clear: both;
	padding: 15px 0 45px;
}

.invite-fr-list-item {
	padding: 10px 14px 9px;
	border-bottom: 1px solid #F4F4F4;

	a {
		font-size: 14px;
		color: #8fc731;
		font-weight: 400;
		margin: 0 8px 0 0;
	}

	a:hover {
		text-decoration: underline;
	}
}

.invite-fr-list-item.invited {
	background: url(i-invited.png) no-repeat 98% center;
	background-size: 12px 8px;
}

.radio_event_type {
	float: right;
	margin: 0 0 30px;

	input[type="radio"] {
		display: none;
	}

	input[type="radio"] + label {
		background: #E4E4E4;
		margin: 0;
		padding: 0 25px 0;
		line-height: 25px;
		border-radius: 30px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="radio"]:checked + label {
		background: #95E459;
	}

	input[type="radio"]:first-child + label {
		border-radius: 30px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="radio"] + label:hover {
		opacity: 0.8;
	}

}