// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search, .content .search {
	margin-top: -88px;
	margin-bottom: 20px;
	min-height: 90px;
	z-index: 3;
	position: relative;
}

.region-info {
	float: left;

	h1 {
		font-size: 25px;
		line-height: 30px;
		font-weight: 800;
		color: #FFFFFF;
		padding: 0 0 0 33px;
		margin: 0;
		background: url("i-m-m-3.png") no-repeat left 3px;
		background-size: 15px 17px;
	}

	p {
		font-size: 14px;
		line-height: 15px;
		font-weight: 400;
		color: #FFFFFF;
		padding: 0;
		margin: 0;

		span {
			color: #8fc731;
		}
	}
}

.ev-img {
	text-align: center;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
  		max-width: 2000px;
	}

	.ev-img-shadow {
		position: absolute;
		left: 0;
		top: 0;
		width: 114%;
		margin: 0 -7% 0;
		height: 100%;
		box-shadow: inset 0px -70px 130px 25px #000000;
	}
}

#search-form {
	float: right;

	input[type="text"] {
		background: #FFFFFF;
		border-radius: 30px;
		width: 400px;
		height: 42px;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 14px;
		color: #4f4f4f;
		padding: 2px 15px 0 50px;
		border: 1px solid #dfdfdf;
		margin: 0 0 0 -15px;
	}

	input[type="submit"] {
	float: left;
	margin: 1px -50px 0 0;
	text-indent: -9999px;
	width: 38px;
	height: 38px;
	background: transparent url("i-search.png") no-repeat center;
	border: none;
	outline: none;
	padding: 0;
	}

	input[type="submit"]:hover {
		opacity: 0.7;
	}
}

.ev-filter {
	padding: 55px 25px 0 0;

	h3 {
		color: #121212;
		font-size: 14px;
		line-height: 30px;
		font-weight: 800;
		margin: 20px 0 3px;
	}

	p {
		margin: 0;
	}

	select {
		background: transparent;
		border-radius: 4px;
		line-height: 19px;
	}

	input[type="radio"] + label {
		margin-left: 18px;
	}

	input[type="radio"] {
		margin: 0 0 12px;
	}
}

.reg-type {
	padding: 8px 0 0;
}

.ev-list {
	padding: 0 3px 0;
}

.ev-list-date {
	padding: 40px 0 10px;

	h5 {
		float: right;
		color: #8e8e8e;
		font-size: 12px;
		line-height: 18px;
	}

	h4 {
		color: #8e8e8e;
		font-size: 18px;
		line-height: 30px;
		float: left;
	}

	h6 {
		float: left;
		background: #784A83;
		border-radius: 30px;
		// padding: 4px 15px 4px;
		padding: 0;
		color: #FFFFFF;
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		margin: 6px 0 0 15px;
	}
}

.ev-list-item {
	color: #8e8e8e;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	background: #FFFFFF;
	margin: 0 0 22px;
	clear: both;

	.ev-list-info {
		float: left;
		margin: 30px 0 0;
	}

	img {
		float: left;
		width: 194px;
		margin: 0 40px 0 0;
		transition: opacity 0.4s;
		&:hover {
			opacity: 0.7;
		}	
	}
	
	a {
		font-size: 16px;
		line-height: 17px;
		color: #8fc731;
		font-weight: 400;
		margin: 0 2px 0 8px;
		&:hover {
			opacity: 0.8;
		}
	}
	
	h2 a {
		color: #4f4f4f;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		clear: right;
		margin: 0 0 18px;
	}

	h2 {
	  color: #4f4f4f;
	  font-size: 24px;
	  line-height: 30px;
	  font-weight: 400;
	  clear: right;
	  margin: 0 0 11px;
	}

	& > a {
		float: left;
		display: inline-block;
		background: #000000;
		margin: 0 40px 0 0 !important;
		img {
			margin: 0;
		}
	}

	h4 {
		float: left;
		color: #8e8e8e;
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		min-width: 75px;
		padding: 0 10px 0 0;
		margin: 0;
		span {
			display: block;
			color: #725784;
			font-size: 14px;
			line-height: 18px;
		}
		img {
			border-radius: 50%;
			width: 34px;
			margin: 2px 9px 20px 16px;
		}
	}
	.ev-list-info .organizer {
		min-width: 200px;

		a {
			display: block;
			color: #725784;
			font-size: 14px;
			line-height: 18px;
			margin: 0;
		}
	}
}

#ev-crop-btn, #ev-edit-btn {
	position: absolute;
	z-index: 3;
	display: inline-block;
	left: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(i-crop.png) no-repeat center;
	background-size: 28px;
	opacity: 0;
	transition: opacity 0.4s;
}

#ev-edit-btn {
	background: url(i-settings.png) no-repeat center;
	background-size: 28px;
}

.ev-list-item:hover #ev-crop-btn, .ev-list-item:hover #ev-edit-btn {
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

.ev-close {
	h2 {
		background: url("i-close.png") no-repeat left 7px;
		background-size: 10px 13px;
		padding: 0 0 0 25px;
	}
}

.close {
	h2 {
		background: url("i-close.png") no-repeat left 7px;
		background-size: 10px 13px;
		padding: 0 0 0 25px;
	}
}

.ev-list-type {
	float: right;
	width: 22px;
	height: 22px;
	margin: 8px 13px 0 0;
}

.ev-party {
	/* background: url("i-party.png") no-repeat center; */
}

.ev-list-item::after {
	content: "";
	clear: both;
	display: block;
}

.reg-ev {
	font-size: 14px;
	line-height: 30px;
	color: #9f9f9f;
	margin: 52px 0 0;

	h3 {
		float: left;
		font-size: 14px;
		line-height: 30px;
		color: #000000;
		margin: 0;
	}

	p {
		float: left;
		font-size: 14px;
		line-height: 30px;
		margin: 0 0 0 30px;
	}

	span {
		color: #725784;
		font-size: 14px;
		line-height: 30px;
	}
}

.reg-ev-title {
	margin: 0 0 25px;
	height: 30px;
}

.reg-ev-list {
	clear: both;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 110px; /* Chrome, Safari, Opera */
    -moz-column-gap: 110px; /* Firefox */
    column-gap: 110px;

	a {
		display: block;
		font-size: 14px;
		line-height: 30px;
		color: #4f4f4f;
	}

	a:hover {
		color: #000000;
	}
}

// BEGIN of styles for single event page

.event-single {
	color: #4f4f4f;

	.ev-title {
		margin: -96px 0 32px;
		padding: 3px 0 0;
		color: #FFFFFF;
		position: relative;
		z-index: 3;
		height: 64px;
		// overflow: hidden;

		h1 {
			font-size: 35px;
			line-height: 30px;
			font-weight: 800;
			color: #FFFFFF;
			padding: 0 0 18px 0;
			margin: 0;
		}

		p {
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			color: #FFFFFF;
			padding: 0;
			margin: 0;
		}

		.ev-start {
			padding: 0 0 0 26px;
			background: url(i-clock.png) no-repeat left 1px;
			background-size: 12px 13px;
		}

		.come-to-ev {
			float: right;
			position: relative;
  			z-index: 2;
		}
	}

	p {
		font-size: 14px;
		line-height: 18px;
		padding: 0;
		margin: 0;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}
	.organizer {
		float: none;
		color: #8e8e8e;
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		min-width: 75px;
		padding: 0 10px 0 0;
		margin: 0;

		span {
			display: block;
			color: #8fc731;
			font-size: 16px;
			line-height: 18px;
		}

		img {
			border-radius: 50%;
			width: 34px;
			margin: 2px 9px 20px 0;
			float: left;
		}
	}
	.ev-list-type {
	  float: none;
	  width: auto;
	  height: auto;
	  margin: 0 13px 0 0;
	  padding: 0;
	  line-height: 25px;
	  img {
	  	border-radius: 50%;
	  	margin: 0 10px 0 0;
	  }
	}
	.ev-party {
	  /* background: url("i-party.png") no-repeat left 1px; */
	}
}

.ev-address {
	margin: 13px 0 33px;
  width: 58%;
}

.ev-members {
	color: #8e8e8e;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	clear: both;
	margin: 27px 0 0;

	span, a {
		color: #8fc731;
		font-size: 16px;
		line-height: 18px;
		font-weight: 400;
	}
	span {
		display: block;
	}
	img {
	  border-radius: 50%;
	  width: 34px;
	  margin: 0 17px 10px 0;
	  float: none;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	a:hover {
		opacity: 0.8;
	}
}

.ev-members-items {
  margin: 15px 0 8px;
}

.ev-single-info {
	padding: 40px 0 20px;
}

.ev-single-main-info {
	padding-left: 0;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #4f4f4f;
}

.ev-single-descr-info {
  padding: 28px 23px 30px;
  background: #FFFFFF;
}

.map-wr {
  margin: 30px 0 0;
  height: 300px;
  overflow: hidden;

  iframe {
		width: 120%;
	  height: 140%;
	  margin: -10% 0 0 -10%;
  }
}

.ev-manage {
	a, .btn-4 {
		display: block;
		float: none;
		min-width: 170px;
		text-align: center;
		margin: 2px 0 0;
		color: #FFFFFF;
		&:hover {
			opacity: 0.95;
		}
	}

	.ev-menage-show {
		opacity: 0;
		transition: opacity 0.4s;
	}
	&:hover {
		.ev-menage-show {
			opacity: 1;
		}
	}
}

// END of styles for single event page
