@import "foundation";
@import "normalize";
@import "jquery-ui";

@import "_form";
@import "_header";

@import "home";
@import "registration";
@import "events";
@import "create-events";

footer {
	background: #e0e0e0;
	margin: 43px 0 0;
	padding: 16px 0;

	h4 {
		float: right;
	}

	p, h4, a {
		font-size: 14px;
		line-height: 30px;
		font-weight: 100;
		color: #000000;
		margin: 0;
	}

	a {
		margin: 0 0 0 20px;
	}

}


