@import "foundation";
@import "normalize";
@import "jquery-ui";

@import "_form";
@import "_header";

@import "home";
@import "registration";
@import "events";
@import "create-events";
@import "users";

footer {
	background: #e0e0e0;
	margin: 43px 0 0;
	padding: 16px 0;

	h4 {
		float: right;
	}

	p, h4, a {
		font-size: 14px;
		line-height: 30px;
		font-weight: 100;
		color: #000000;
		margin: 0;
	}

	a {
		margin: 0 0 0 20px;
	}

}


div::-webkit-scrollbar {
	background: #f4f4f4;
	width: 9px !important;
	border-radius: 20px;
}

div::scrollbar {
	background: #f4f4f4;
	width: 9px !important;
	border-radius: 20px;
}

div::-ms-scrollbar {
	background: #f4f4f4;
	width: 9px !important;
	border-radius: 20px;
}

div::-o-scrollbar {
	background: #f4f4f4;
	width: 9px !important;
	border-radius: 20px;
}

div::-webkit-scrollbar-button {}

div::-webkit-scrollbar-track {}

div::-webkit-scrollbar-track-piece {}

div::-webkit-scrollbar-thumb {
	background: #a9d55b;
	border-radius: 10px;
	width:5px !important;
}

div::-o-scrollbar-thumb {
	background: #a9d55b;
	border-radius: 10px;
	width: 5px !important;
}

div::-ms-scrollbar-thumb {
	background: #a9d55b;
	border-radius: 10px;
	width:5px !important;
}

div::-webkit-scrollbar-corner {}
