// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-p {
	padding: 65px 0 0;
	color: #4f4f4f;

	h1 {
		font-size: 25px;
		line-height: 48px;
		margin: 0 0 0;
		font-weight: 800;
	}
	h2 {
		font-size: 25px;
		line-height: 48px;
		margin: 0 0 0;
		font-weight: 400;
		color: #4f4f4f;
	}
	.date {
		float: right;
		margin: 10px 24px 0 0;
	}
}

.user-p-content {
	padding-left: 7px;
	padding-right: 0;

	a {
		color: #ff8106;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		&:hover {
			opacity: 0.8;
		}
	}
}

.user-p-content-item {
	background: #FFFFFF;
	padding: 25px 40px 45px 45px;
	margin: 0 0 20px;
}

.user-p-content-item:after {
	content: "";
	display: block;
	clear: both;
}

.ev-item-photos {
	margin: 0 -20px 86px 0;
	clear: both;

	img {
		display: inline-block;
		width: 156px;
		height: 125px;
		margin: 0 10px 13px 0;
	}
	h2 {
		padding: 0 0 15px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.view-more-btn {
		margin-right: 20px;
	}
}

.ev-ph-item {
	display: inline-block;
	margin: 0 10px 13px 0;
	position: relative;

	img {
		margin: 0;
	}

	&:hover {
		.del-img {
			opacity: 1;
		}
	}
}

// BEGIN of user page with friends list

.container-right {
	background: #FFFFFF;
	color: #4f4f4f;
	padding: 25px 45px 20px 35px;
	line-height: 30px;
	margin: 0 0 20px;

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.user-friends-list {

	h1 {
		span {
			font-weight: 400;
			color: #8fc731;
		}
	}
	a:hover {
		opacity: 0.8;
	}
}

.ch-gr-gr {
	background: #F4F4F4;
	border-radius: 30px;
	float: right;
	overflow: hidden;
	line-height: 25px;
	margin: 12px 0 0;

	a {
		color: #8e8e8e;
		padding: 0;
		width: 116px;
		text-align: center;
		display: inline-block;
		font-size: 14px;
		line-height: 26px;
	}
	a:hover {
		opacity: 0.8;
		color: #000000;
	}
	a.active {
		background: #95E459;
		color: #6d893d;
	}
}

.user-friends-container {
	line-height: 60px;
	padding: 20px 0 0 0;

	.row {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}

	a {
		color: #8fc731;
		font-size: 14px;
		font-weight: 400;
	}
	img {
		width: 34px;
		border-radius: 50%;
		margin-right: 10px;
		vertical-align: middle;
	}
	.columns {
		border-bottom: 1px solid #F4F4F4;
	}
	.columns:after {
		content: "";
		display: block;
	}
}

// END of user page with friends list

// BEGIN of user info

.user-info-container {
	padding: 20px 0 0;

	p {
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		color: #8e8e8e;
		padding: 0 0 15px;
		margin: 0;
	}
	.row > div:first-child {
		p {
			font-size: 14px;
			line-height: 18px;
			font-weight: 100;
			color: #0D0D0D;
			margin: 0;
		}
	}
}

span.tag {
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 0 5px 0;
}

// END of user info

// END of user events

.user-events {
	padding: 25px 0 0;

	.ev-list-item {
		position: relative;
	}
	.ev-list-item h2 {
		color: #4f4f4f;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		clear: right;
		margin: 0 0 11px;
	}
	.ev-list-item h2 a {
		color: #4f4f4f;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		clear: right;
		margin: 0 0 11px;
	}
	.ev-list-item h2 a:hover {
		color: #000000;
		opacity: 1;
	}

}

// END of user events


// BEGIN of user friends list with tabs

.friends-tabs-wr {
	display: block;
	text-align: center;
	margin: 0 auto 14px;
}

.friends-tabs {
	float: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	max-width: 1000px;
	width: 100%;

	a {
		background: #FFFFFF;
		width: 33.333%;
		display: inline-block;
		margin: 0;
		font-size: 14px;
		line-height: 37px;
		font-weight: 400;
	}
}

.fr-online {
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: -3px;
		top: -9px;
		width: 10px;
		height: 10px;
		background: #95E459;
		border: 2px solid #FFFFFF;
		border-radius: 50%;
	}
}

.friends-tabs-content {
	padding: 10px 45px 20px 35px;

	.user-friends-container {
		line-height: 53px;
		padding: 10px 0 0 0;
	}
	.row {
		margin-bottom: 0;

		& > div:not(:first-child) {
			padding: 0;
			a {
				color: #bfbfbf;
				font-size: 12px;
				display: inline-block;
				padding: 1px 37px 0 0;
				&:hover {
					color: #414141;
				}
			}
		}
	}
}

.fr-remove {
	background: url(i-f-close.png) no-repeat right center;
}

.fr-invite {
	background: url(i-f-add.png) no-repeat right center;
}

.fr-add {
	background: url(i-f-add-2.png) no-repeat right center;
}

.fr-add.active {
	background: url(i-f-ok.png) no-repeat right center;
}

.fr-invite.active {
	background: url(i-f-ok.png) no-repeat right center;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

// END of user friends list with tabs

a.accept_invate {
  background: #95E459;
  color: #6d893d;
  padding: 0;
  width: 88px;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  line-height: 26px;
  float: right;
  margin: 0 0 0 3px;
}

a.decline_invate {
  background: #F4F4F4;
	color: #8e8e8e;
  padding: 0;
  width: 88px;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  line-height: 26px;
  float: right;
}

span.status {
  margin: 0 0 0 20px;
  float: right;
  line-height: 26px;
  img {
  	display: inline-block;
  	max-width: 22px;
  	margin: 0 10px 0 0;
  }
}

