// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-p {
	padding: 65px 0 0;
	color: #4f4f4f;

	h1 {
		font-size: 25px;
		line-height: 48px;
		margin: 0 0 0;
		font-weight: 800;
	}
	h2 {
		font-size: 25px;
		line-height: 48px;
		margin: 0 0 0;
		font-weight: 400;
		color: #4f4f4f;
	}
	.date {
		float: right;
		margin: 10px 24px 0 0;
	}
}

.user-p-content {
	padding-left: 7px;
	padding-right: 0;
}

.user-p-content-item {
	background: #FFFFFF;
	padding: 25px 40px 45px 45px;
	margin: 0 0 20px;
}

.user-p-content-item:after {
	content: "";
	display: block;
	clear: both;
}

.ev-item-photos {
	margin: 0 -20px 86px 0;
	clear: both;

	img {
		display: inline-block;
		width: 156px;
		height: 125px;
		margin: 0 10px 10px 0;
	}
	h2 {
		padding: 0 0 15px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.view-more-btn {
	  margin-right: 20px;
	}
}

// BEGIN of user page with friends list

.container-right {
	background: #FFFFFF;
	color: #4f4f4f;
	padding: 25px 45px 20px 35px;
	line-height: 30px;
	margin: 0 0 20px;

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.user-friends-list {

	h1 {
		span {
			font-weight: 400;
			color: #8fc731;
		}
	}
	a:hover {
		opacity: 0.8;
	}
}

.ch-gr-gr {
	background: #F4F4F4;
	border-radius: 30px;
	float: right;
	overflow: hidden;
	line-height: 25px;
	margin: 12px 0 0;

	a {
	  color: #8e8e8e;
	  padding: 0;
	  width: 116px;
	  text-align: center;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 26px;
	}
	a:hover {
		opacity: 0.8;
		color: #000000;
	}
	a.active {
		background: #95E459;
		color: #6d893d;
	}
}

.user-friends-container {
	line-height: 60px;
	padding: 20px 0 0 0;

	.row {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}

	a {
		color: #8fc731;
		font-size: 14px;
		font-weight: 400;
	}
	img {
		width: 34px;
		border-radius: 50%;
		margin-right: 10px;
		vertical-align: middle;
	}
	.columns {
		border-bottom: 1px solid #F4F4F4;
	}
	.columns:after {
		content: "";
		display: block;
	}
}

// END of user page with friends list

// BEGIN of user info

.user-info-container {
	padding: 20px 0 0;

	p {
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
		color: #8e8e8e;
		padding: 0 0 15px;
		margin: 0;
	}
	.row > div:first-child {
		p {
			font-size: 14px;
			line-height: 18px;
			font-weight: 100;
			color: #0D0D0D;
			margin: 0;
		}
	}
}

span.tag {
	border: 1px solid #b5b5b5;
  border-radius: 5px;
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 0 5px 0;
}

// END of user info

// END of user events

.user-events {
  padding: 25px 0 0;

	.ev-list-item {
		position: relative;
	}
  .ev-list-item h2, .ev-list-item a {
	  color: #4f4f4f;
	  font-size: 24px;
	  line-height: 30px;
	  font-weight: 400;
	  clear: right;
	  margin: 0 0 11px;
	}
	.ev-list-type {
	  float: right;
	  width: 22px;
	  height: 22px;
	  position: absolute;
	  right: 0;
	  margin: 0;
	}
}

// END of user events
